.home{
    margin-top: 50px;
}

.home h2{
    margin-bottom: 30px;
}

.height{
    height: 52px;
}

.home-header{
    margin-top: 0px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-boots{
    z-index: 1;
}

.home-header div img{
    margin-left: 20px;
    cursor: pointer;
}

.home-header p span{
 font-size: 10px;
}

.home-span{
    margin-left: 10px;
}

.home-video{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    flex-wrap: wrap;
}

.home-video2{
    margin-top: 40px;
}

.home-img{
    position: relative;
    top: -53px;
    left: 892px;
    z-index: 2;
}