.header{
    color: #1390E5;
    display: flex;
    font-size: 18px;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px rgb(179, 179, 179);
}

.search-favorites{
    display: flex;
}

.header-img{
    position: relative;
    top: 30px;
    width: 45px;
}

.header-item{
    padding-bottom: 15px;
    position: relative;
    top: 18px;
}

.header-active{
    border-bottom: #1390E5 solid 2px;
    padding-bottom: 15px;
    position: relative;
    top: 18px;
}


