.register{
    width: 1040px;
    position: absolute;
    top:40%;
    left:50%;
    transform:translate(-50%, -50%);
}

.register-img{
    display: block;
    text-align: center;
    margin: 10px auto;
}