*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  max-width: 1040px;
  height: 1080px;
  background: rgb(255, 255, 255);
  margin: 0 auto;
  color: black;
}

.cur{
  cursor: pointer;
}

.mr{
  margin-right: 40px;
}

.mt{
  padding-top:20px;
}